<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/commons::head}"></head>

<body class="body-login">

<nav th:replace="~{fragments/commons::navigation}"></nav>

<h1 class="text-danger fw-bolder">Object Not Found!</h1>
<img src="/images/404%20error.jpg" id="img403" alt="">


<footer th:replace="~{fragments/commons::footer}"></footer>
<script th:replace="~{fragments/commons::script}"></script>
</body>
</html>
