<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/commons::head}"></head>
<body>
<nav th:replace="~{fragments/commons::navigation}"></nav>


<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <div class="row mt-1 mb-2">
            <div class="col-12 mt-5 mb-1">
                <h3 th:text="|Welcome Jedi-Knight, ${loggedInAdminName}!|"
                    class="mySticky bg-gray text-light  mb-0 mb-5">Welcome Jedi-Knight, Vomer</h3>
                <h3 class="mySticky bg-gray text-light  mb-0 mt-2">Approve or Delete any type of content!</h3>
                <h3 class="mySticky bg-danger text-light mb-2 mt-5">Movies</h3>
                <div class=" rounded " style="height: 20vh; overflow: auto; background-color: slategrey">
                    <div class="mt-1 rounded badge-info " th:each="m : ${allNotApprovedMovies}"
                         th:object="${m}">
                        <span th:text="*{title}" class="text-light"> >>> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, repellat.</span>
                        <a class="ml-3 text-info" th:href="@{/admin/movie/approve/{id}(id=*{id})}">Approve</a>
                        <a class="ml-3 text-info" th:href="@{/admin/movie/delete/{id}(id=*{id})}">Delete</a>
                    </div>
                </div>

                <h3 class="mySticky bg-danger text-light mb-2 mt-5">Series</h3>
                <div class=" rounded " style="height: 20vh; overflow: auto; background-color: slategrey">
                    <div class="mt-1 rounded badge-info " th:each="s : ${allNotApprovedSerials}"
                         th:object="${s}">
                        <span th:text="*{title}" class="text-light "> >>> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, repellat.</span>
                        <a class="ml-3 text-info" th:href="@{/admin/serial/approve/{id}(id=*{id})}">Approve</a>
                        <a class="ml-3 text-info" th:href="@{/admin/serial/delete/{id}(id=*{id})}">Delete</a>
                    </div>
                </div>

                <h3 class="mySticky bg-danger text-light mb-2 mt-5">News</h3>
                <div class=" rounded " style="height: 20vh; overflow: auto; background-color: slategrey">
                    <div class="mt-1 rounded badge-info " th:each="n : ${allNotApprovedNews}" th:object="${n}">
                        <span th:text="*{title}" class="text-light "> >>> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, repellat.</span>
                        <a class="ml-3 text-info" th:href="@{/admin/news/approve/{id}(id=*{id})}">Approve</a>
                        <a class="ml-3 text-info" th:href="@{/admin/news/delete/{id}(id=*{id})}">Delete</a>
                    </div>
                </div>

                <h3 class="mySticky bg-danger text-light mb-2 mt-5">Games</h3>
                <div class=" rounded " style="height: 20vh; overflow: auto; background-color: slategrey">
                    <div class="mt-1 rounded badge-info " th:each="g : ${allNotApprovedGames}" th:object="${g}">
                        <span th:text="*{title}" class="text-light "> >>> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, repellat.</span>
                        <a class="ml-3 text-info" th:href="@{/admin/game/approve/{id}(id=*{id})}">Approve</a>
                        <a class="ml-3 text-info" th:href="@{/admin/game/delete/{id}(id=*{id})}">Delete</a>
                    </div>
                </div>
            </div>


            <div class="col-12 mt-5 mb-1">
                <h3 class="mySticky bg-danger text-light mb-2 mt-5">All users</h3>
                <div class=" rounded " style="height: 20vh; overflow: auto; background-color: slategrey">
                    <div class="mt-1 rounded badge-info " th:each="u : ${allUsersWithRoleUSER}" th:object="${u}">
                        <span th:text="|Full name: *{fullName}, Username: *{username}, Email: *{email}|"
                              class="text-light ">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, repellat.
                        </span>
                        <a class="ml-3 text-danger" th:href="@{/admin/user/promote/{id}(id=*{id})}">Promote</a>
                        <a class="ml-3 text-danger" th:href="@{/admin/user/delete/{id}(id=*{id})}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer th:replace="~{fragments/commons::footer}"></footer>
<script th:replace="~{fragments/commons::script}"></script>

</body>
</html>