<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}"></head>
<body class="container-fluid justify-content-center bg-dark">
<nav th:replace="~{fragments/commons::navigation}"></nav>

<form th:action="@{/users/login}"
      th:method="post">

    <div id="main-login">
        <div class="container text-light text-center pt-5 pb-5">
            <h1 class="display-3">
                <strong class="bg-blur rounded border-left border-white pl-3 text-info text-decoration-underline">Login</strong>
            </h1>
        </div>

        <div class="border border-info border-2 rounded-3 w-50 container-fluid ">
            <form class="login">

                <p id="h3wrongU" class="mt-5 text-center">
                    <strong th:if="${bad_credential}" class="rounded pl-3 text-danger">
                        Wrong Username or Password! Please try again.
                    </strong>
                </p>

                <div class="form-group row container-fluid w-100">
                    <div class="col-sm-10 w-100 pb-2 pt-0">
                        <input type="text" min="2" max="50"
                               class="form-control"
                               id="username"
                               name="username"
                               th:value="${username}"
                               aria-describedby="usernameHelpInline" placeholder="Username">
                    </div>
                </div>

                <div class="form-group row container-fluid w-100 pb-4 pt-3">
                    <div class="col-sm-10 w-100">
                        <input type="password" class="form-control"
                               id="password"
                               name="password"
                               aria-describedby="passwordHelpInline" placeholder="Password">
                    </div>
                </div>

                <button type="submit" role="button" class="mt-2 mb-4 btn btn-lg btn-outline-info border-2">Login
                </button>

            </form>
        </div>
    </div>
</form>

<footer th:replace="~{fragments/commons::footer}"></footer>
<script th:replace="~{fragments/commons::script}"></script>

</body>
</html>